
p {
    color: darkorange;
    
}

#paragraph {
    color: fuchsia;
}
.klasa {
    color: coral;
}

a, span, div {
    color: green;
}
#wyciemnienie {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,255,0.5);
}