p {
    color: darkorange;

}

#paragraph {
    color: fuchsia;
}

.klasa {
    color: coral;
}

a,
span,
div {
    color: green;
}

/* selektor bezposredniego potomstwa */

li > a {
    color: red;
}

/* selektor el potomnych */

div a {
    color: aqua;
}

/* selektor bliskiego rodzenstwa */

h2 + h3 {
    color: chocolate;
}
/* selektor rodzenstwa */
h4 ~ p {
    color: crimson;
}